<div class="footer">
    <div class="adress-SP">
        <h4>São Paulo</h4>
        <p>Av. das Nações Unidas, 12.495 - 7º Andar Brooklin - São Paulo - SP - Brasil +55 11 4096-7777 +55 11 96614-9206</p>
    </div>
    <div class="adress-C">
        <h4>Curitiba</h4>
        <p>Av. João Gualberto, 1.740 8º Andar - Juvevê - Curitiba - PR - Brasil +55 41 3094-2600</p>
    </div>
    <div class="contact">
        <p>Veja nossas vagas</p>
        <h2>Carreiras</h2>
        <img class="person" alt="Logo empresa" src="assets/img/person-footer.png"/>
    </div>

</div>

<router-outlet></router-outlet>

