<div class="header">
  <div>
    <img class="log" alt="Logo empresa" src="assets/img/mk.png"/>
    <img class="bt-menu"  alt="botão menu" src="assets/img/menu.png"/>
  </div>
  <div>
    <img class="br" alt="logo Brasil" src="assets/img/pt-BR.svg" />
  </div>
</div>

<div class="text">
  <h1>Artigos & Notícias</h1>
</div>
<div class="featured">
  <div class="image">
    <img class="myImage" alt="Minha Imagem" src="assets/img/minha_img.jpg" />
  </div>
<div class="text-one">
  <article>
    <h4>Artigo</h4>
    <p>O mais novo membro júnior de nossa equipe</p>
  </article>
</div>
</div>

<app-articles></app-articles>  
<app-list></app-list>
<app-footer></app-footer>

<router-outlet></router-outlet>