<div class="service">
    <div class="first-C">
        <h1>Serviços</h1>
        <dl>
            <dt class="column-one">
                <div class="fisrt">
                    <div class="first-square"> </div>
                    <p> Database Management</p>
                </div>
            </dt>  
            <dt class="column-one">
                    <div class="second-square"> </div>
                    <p>Markenting Technology</p> 
            </dt> 
            <dt class="column-one">
                <div class="fisrt">
                    <div class="three-square"> </div>
                    <p>Analystics <strong>Data Science</strong></p>
                </div>
            </dt> 
            <dt class="column-one">
                <div class="fisrt">
                    <div class="four-square"> </div>
                    <p>Customer <strong>Relationship Experince</strong></p>
                </div>
            </dt>   
            <dt class="column-one">
                <div class="fisrt">
                    <div class="five-square"> </div>
                    <p>CRM <strong>Conulting</strong> & <strong>Strategy</strong></p>
                </div>
            </dt>
        </dl>
    </div>
    <div class="secund-C">
        <dl>
            <dt>Cerificação LGPD</dt>
            <dt>Projetos Sociais</dt>
            <dt>Políticas de Segurança</dt>
            <dt>Artigos & Notícias</dt>
            <dt>Carreiras</dt>
        </dl>
    </div>
    <div class="three-C">
        <article>
            <h5>Entre em contato</h5>
            <h1>Novos Negócios</h1>
        </article>
        <img class="br" alt="logo email" src="assets/img/contato-icon.png" />
    </div>
</div>

