<div class="articles">
    <div class="img-one">
        <img src="assets/img/home_office.jpg" />
        <h6>Artigo</h6>
        <p>Segurança em tempos de home office.</p>
    </div>
    <div class="img-three">
        <img src="assets/img/Martech_precisa-se_de_bons_pilotos.png" />
        <h6>Artigo</h6>
        <p>Martech precisa-se de bons pilotos</p>
    </div>
    <div class="img-two">
        <img src="assets/img/Martech_e_a_batalhas_pelos_clones.jpg" />
        <h6>Artigo</h6>
        <p>Martech e a batalhas pelos clones!</p>
    </div>
</div>
