<div class="articles">
    <div class="img-one">
        <img src="assets/img/home_office.jpg" />
        <article>
            <h6>Artigo</h6>
            <p>Segurança em tempos de <strong>home office.</strong> </p>
        </article>
    </div>
    <div class="img-two">
        <img src="assets/img/Martech_precisa-se_de_bons_pilotos.png" />
        <article>
            <h6>Artigo</h6>
            <p>Martech precisa-se de <strong>bons pilotos!</strong></p>
        </article>
    </div>
    <div class="img-three">
        <img src="assets/img/Martech_e_a_batalhas_pelos_clones.jpg" />
        <article>
            <h6>Artigo</h6>
            <p>Martech e a <strong>batalhas pelos clones.</strong></p>
        </article>
    </div>
</div>
